
<div class="admin-block">
  <a href="/add-post">+ Add New Posts</a>
  <a href="/add-activity">+ Add New Activity</a>
  <a href="/add-impression">+ Add New Comment</a>
  <a href="/dashboard/posts">Menage Posts - ></a>
  <a href="/dashboard/activitys">Menage Activities - ></a>
  <a href="/dashboard/impressions">Menage Impressions - ></a>
</div>

