<article class="article container">
    <div class="main-content">
        <div>
            <h1 class="data_title"><%= data.title  %></h1>
            <h2 class="data_mintitle"><%= data.mintitle  %></h2>
        </div>
        <div>
            <p class="data_description" ><%= data.body %></p>
            <span class="data_contacts">For more information contact us: <a href='mailto:euphoria@gmail.com'>euphoria@gmail.com</a></span>
        </div>
    </div>
    <div class="img_block">
        <img src="<%= data.img  %>" alt="" class="data_img">
    </div>
</article>
<div class="temporary_class">
    <div class="registration_container" id="container">
        <div class="form-container sign-up">
            <form action="/register" method="post">
                <i class="ri-arrow-left-circle-line arrow_signin"></i>
                <h1>Create Account</h1>
                <span>or use your email for registeration</span>
                <input type="text" placeholder="First Name" name="firstName">
                <input type="text" placeholder="Last Name" name="lastName">
                <input type="email" placeholder="Email" name="email">
                <input type="password" placeholder="Password" name="password">
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form action="/login" method="post">
                <i class="ri-arrow-right-circle-line arrow_signup"></i>
                <h1>Sign In</h1>
                <span>or use your email password</span>
                <input type="email" placeholder="Email" name="email">
                <input type="password" placeholder="Password" name="password">
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
  </div>
<div class="bg"></div>