@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --white80: rgba(244, 244, 244, 0.8);
    --white10:rgba(244, 244, 244, 0.1);
    --light-gray:#f4f4f4;
}  
body{
    font-family: "Poppins", sans-serif;
    color: var(--light-gray);
    margin: 0;
    position: relative;
    background-color: #111;
    overflow-x: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

img{
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}
.disabled-button {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
  color: var(--white10);
}

.section_hero {
  transition: 1s ease;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden; 
}

.section_hero-bg{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -1; 
}
.section_hero-bg img{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: contrast(1.2) brightness(1.1);

}
.section_hero-bg-overlay{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    background-image: linear-gradient(65deg, rgba(17, 17, 17, 0.25), rgba(17, 17, 17, 0)), linear-gradient(180deg, rgba(17, 17, 17, 0), #111);
}
.section_hero-bg-scroll-overlay{

    opacity: 0.23218;
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    background-color: #111;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    border: none;
    color: inherit;
    font-family: "Poppins", sans-serif;
}
ul{
    list-style: none;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    z-index: 1; 
  transition: 1s ease;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}
.header__logo{
    color: white;
    
}
.header__list{
    display: flex;

}
.header__list li{
  cursor: pointer;
    font-size: 0.87rem;
    padding: 0.5rem 1rem;
    color: var(--white80);
    transition: color 0.3s;
}
.block-registration{
    display: flex;
    align-items: center;
    gap: 1rem;

}
.login{
    background-color: transparent;
    color: var(--white80);
}

.signup{
    padding: .75rem 1.37rem;
    color: var(--light-gray);
    background-color: var(--white10);
    border-radius: 10rem;
    backdrop-filter: blur(5px);

}
.signup, .login{
    cursor: pointer;
    transition: all 0.4s;
}
.main-content{
    margin: 200px 0 100px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 530px;
}
.title{
    font-size: 3.5rem;
}
.description{
    font-size: 1.25rem;
}

.swiper {
    height: 416px;
    margin-bottom: 100px;

  }
  .swiper-wrapper{
    height: 340px;

  }
  .swiper-pagination{
    left: 0 !important;
    bottom: var(--swiper-pagination-bottom, 16px) !important;
    width: auto !important; 
  }
  .swiper-scrollbar {
    height:12px !important;
    width: 50% !important;
    bottom: var(--swiper-pagination-bottom, 24px) !important;
    left: 40% !important;
    position: absolute;
    background: #181818 !important;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.8) inset;
  }
  .swiper-scrollbar-drag {
    background: hsla(0, 0%, 95.7%, 0.8) !important;
    box-shadow: 0px 1px 1px #000;

  }
  .swiper-slide:nth-last-child(1) {
    background: transparent;
  }
  .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #524c4c;
    display: flex;
    justify-content: center;
    width: 280px !important;
    align-items: center;
  }

  .swiper-button-next::after, .swiper-button-prev::after{
    font-size: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .swiper-button-next{
    left: auto;
    right: 100px;
  }
  .swiper-button-next , .swiper-button-prev{
    position: absolute;
    transform: translate(50%, 0px);
    top: -18%;
    bottom: 0%;
    z-index: 2;
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 100%;
    background-color: hsla(0, 0%, 95.7%, 0.2);
    backdrop-filter: blur(5px);
    transition: transform 300ms ease, background-color 200ms ease, -webkit-transform 300ms ease;
    color: #ffffff;
  }
  .places-card_image-wrap img {
    user-select: none;
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .places-card{
    overflow: hidden;
    width: 100%;
    padding-top: 120%;
    background-color: #181818;
  }
  .places-card_image-wrap{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-top: 100%;
  }
  .places-card_image-overlay{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #181818, rgba(17, 17, 17, 0));
  }
  .places-card_content{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    cursor: pointer;
  }
  .places-card_country-text{
    margin-bottom: 0.5rem;
    opacity: 0.6;
    font-size: 0.625rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }
  .places-card_heading-text{
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.2;
  }
  .places-card_desc-wrap{
    height: 0;
    opacity: 0;
    display: flex;
    overflow: hidden;
    width: 100%;
    text-align: left;
    transition: height 0.7s ease, opacity 1s ease;
}
.places-card_desc-text{
    margin-top: 0.5rem;
    opacity: 0;
    font-size: 0.875rem;
    transition:  opacity 1s ease;
}

.cloud{
  font-weight: 300;
  font-size: 30px;
  cursor: pointer;
  display: none;
  padding: 10px;
  transition: 0.5s ease-out;
  position:fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;

}
.fa-shake {
  animation-duration: var(--fa-animation-duration, 2.5s);;
}
.button {
  cursor: pointer;
  display: none;
  width: 45px;
  height: 45px;
  overflow: hidden;
  color: var(--light-gray);
  background-color: var(--white10);
  border-radius: 10rem;
  backdrop-filter: blur(5px);
}
.rope_cloud{
  margin-top: 200px;
  position: fixed;
  width: 370px;
  transition: top 0.7s ease-in-out;

}
.blurClass{
  filter: blur(5px);
}

.block {
  display: none ;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  justify-content: center;
  transition: 1s ease;
}
.blockClass{
  display: block !important;
}
.flexClass{
  display: flex !important;
}
.bg{
  display: none;
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.hiddenClass{
  overflow: hidden;
}
.rope_cloud::after{
  content: '';
  width: 10px;
  height: 470px;
  background-color: rgb(127, 197, 255);
  position: absolute; 
  top: -400px; 
  left: 50%;
  transform: translateX(-50%); 
  z-index: 3;
}
.rope_cloud::before{
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(113, 174, 224);
  position: absolute;
  top: 50px; 
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 4;
  outline: 1px solid var(--light-gray);

}
.img_cloud{
  background-image: url(../img/smallcloud.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 210px;
  filter: drop-shadow(0px 10px  10px rgba(0, 0, 25, 0.514));
  display: flex;
  align-items:end;
  justify-content: center;
}
.img_cloud .header__list {
  padding-bottom: 40px;
}
.img_cloud .header__list li {
  color: #0000009a;

  font-size: 1rem;
  font-weight: 600;
  display: block;

}

.img_cloud .header__list li a {
  display: inline-block;
}



.img_cloud .header__list li:nth-child(1) {
  transform: rotateZ(15deg);
}


.img_cloud .header__list li:nth-child(3) {
  transform: rotateZ(-15deg);
}
.container_search{
  max-width: 982px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.searchBar{

  visibility: hidden;
  transform: translateY(-100px);
  background-color: rgba(0, 0, 0, 0.288);
  transition:  0.5s ease;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
}
.searchBar.open{
  visibility: visible;
  transform: translateY(0);
  transition: transform 0.4s ease;
}
.searchBar input{
  margin:0;
  padding: 0;
  width: 700px;
  font-family: "Poppins", sans-serif;
  outline: none;
}
.searchBar input::placeholder{
  font-family: "Poppins", sans-serif;
}
#searchClose{
  color:var(--white80);
  cursor: pointer;
  transition: .3s ease-in-out;
}
.data_mintitle{
  opacity: 0.6;
  font-size:1rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
.data_contacts{
  font-size: 0.7rem;
  color: var(--white80)
  
}
.data_contacts a{
  cursor: pointer;
  color: white;
}
.article{
  width: 1150px;
  padding:50px 0 50px 0;
  margin-top: 100px;
  display: flex;
  gap: 30px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.589);
  border-radius: 38px;

}
.article .main-content{
  flex-direction: column;

  max-width: 560px ;
  gap: 25px;
  margin: 0;
}
.data_description{
  text-align: justify ;
  margin-bottom: 15px;
}
.data_title{
  margin-bottom: 15px;
  font-size: 5rem;
  line-height: 60px;
}
.img_block {
  border-radius: 20px;
  overflow: hidden;
  width: 450px;
  height: 450px;
  position: relative;
}
.data_img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
  position: relative;
  z-index: 1;
}
.img_block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  transition: 0.7s ease-in-out;
  z-index: 2; 
}
.author{
  padding: 10px 0;
  text-align: center;
}
.author__heading{
  margin-top: 10px;
  margin-bottom: 5px;
}
.article__ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: clamp(1.13rem,calc(1.08rem + 0.22vw), 1.25rem);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.article-min_title{
  font-size:  1rem;
  color: var(--white80);
  display: inline-block;
}
.article__ul li{
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px;

}
.article__ul li a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 20px;
}
.hand{
  transition: .3s ease;
}
.admin-title{
  display: flex;
  align-items: center;
}
.admin-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 300px;
  gap: 15px;
  border-radius: 15px;
  margin-top: 150px;

}
.admin-posts{
  display: grid;
  grid-template-columns:repeat(5,150px) ;
  grid-auto-rows: 150px;
  gap: 20px;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.admin-post-controls{
  color: var(--white80);
  position: relative;
  z-index: 3;
}
.admin-post-controls form {
  display: inline-block;
}

.activitys_page{
  display: flex;
  gap: 30px;
}
.admin-post-controls .btn  {
  display: inline-block;
  background-color: var(--black);
  color: var(--gray-light);
  border: 0;
  text-decoration: none;
  font-size: .8rem;
  padding: 4px 8px;
  line-height: 2;
}
.admin-posts li {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.temporary_class{
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    position: fixed;
    top: -1300px;
    left: 50%;
    transform: translate(-50%,100%);
    z-index: 3;
    transition: 1s ease;
}
.down{
  top: 50% ;
  transform: translate(-50%,-50%) ;
}
.stopMobileNav{
  filter: blur(50px);
  display: none !important;
  z-index: 1;
}
.registration_container{
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: absolute;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  transition: all 2s ease;
}
.registration_container p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}
.registration_container span{
  font-size: 12px;
}
.registration_container a{
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}
.registration_container button{
  background-color: #766256;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}
.registration_container button.hidden{
  background-color: transparent;
  border-color: #fff;
}
.registration_container form{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}
.registration_container input{
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 8px;
  width: 100%;
  outline: none;
  color: rgb(119, 119, 119);
}
.form-container{

  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.form-container form h1, .form-container form span{
  color: #000;
}
.sign-in{
  left: 0;
  width: 50%;
  z-index: 2;
}

.registration_container.active .sign-in{
  transform: translate(100%);
}

.sign-up{
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.registration_container.active .sign-up{
  transform: translate(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move{
  0%, 49.99%{
      opacity: 0;
      z-index: 1;
  }
  50%, 100%{
      opacity: 1;
      z-index: 5;
  }
}

.social-icons{
  margin: 20px 0;
}

.social-icons a{
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container{

  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.registration_container.active .toggle-container{
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle{
  background-color: #766256;
  height: 100%;
  background: linear-gradient(to right, #c4ab9b, #977662);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.registration_container.active .toggle{
  transform: translateX(50%);
}

.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left{
  transform: translateX(-200%);
}

.registration_container.active .toggle-left{
  transform: translateX(0);
}

.toggle-right{
  right: 0;
  transform: translateX(0);
}
.registration_container.active .toggle-right{
  transform: translateX(200%);
}


.wrapper {

  padding: 0 0 40px 0 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#search-container {
  margin: 1em 0;
  text-align: center;
}
#search-container input {
  background-color: transparent;
  width: 40%;
  border: 2px solid #a08b7d;
  background-color: #ffffff;
  position: relative;
  padding: 1em;
  border-radius: 5px;
  outline: none;

  color: #75655a;
  transition: all 0.3s ease-in-out;
}
#search-container input::placeholder{
  left: -3px;
  font-family: "Poppins", sans-serif;
  position: relative;

}
#search-container input:focus {
  border-color: #dbc7ba;
}
#search-container button {
  cursor: pointer;
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #303139;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
  transition: all 1s ease;

}
#buttons{
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: center;

  flex-wrap: wrap;
}
.button-value {
  border: 2px solid #a08b7d;
  padding: 1em 2.2em;
  border-radius: 2.5rem;
  background-color: transparent;
  color: var(--light-gray);
  cursor: pointer;

  transition: 0.6s ease;
}
.active-discover {

  background-color: #303139 ;
}
#products {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4,280px);
  grid-auto-rows: 340px;
  min-height: 340px;
  justify-content: center;
  gap:20px;
  padding: 2em 0;
}

.hide {
  display: none !important;
}

.pagination{
  font-size: 1.3rem;
  color: var(--white80);
  transition: 0.6s ease;
  position: absolute;
  z-index: 99;
}
.left_pagination , .right_pagination{
  transform: translateY(-100%);
  top: 100%;
}
.left_pagination{
  left: 5%;
}
.right_pagination{
  left: 10%;
}
.discR_pagination, .discL_pagination{
  transform: translateY(-100%);
  top: 100%;
}
.discL_pagination{
  left: 3%;
}
.discR_pagination{
  left: 7%;
}
.arrow_signup, .arrow_signin{
  display: none;
  font-size: 40px;
  color: black;
  cursor: pointer;
}
.logout-button {
  display: none;
}
.logout-button i{
  font-size: 30px;
}

.filter_activity{
  background-color: rgba(0, 0, 0, 0.589);
  max-height: 320px;
  padding: 25px;
  border-radius: 20px;
}
#activity_search-input, #to, #from{
  background-color: transparent;
  background-color: var(--white10);
  position: relative;
  padding: .5em;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  transition: all 0.3s ease-in-out;
}
#activity_search-input::placeholder{
  font-size: 11px;
  position: relative;
  font-family: "Poppins", sans-serif;
  color: white;
  left: -3px;
}
#to::placeholder, #from::placeholder{
  font-family: "Poppins", sans-serif;
  color: white;
}
#activity_search_btn{
  cursor: pointer;
  padding: 0.5em 0.5em;
  margin-left: 1em;
  background-color: #303139;
  color: #ffffff;
  border-radius: 5px;
  transition: all 1s ease;
}
#activity_search_container{
  margin-bottom: 10px;
}
.price_label, .type_label{
  font-size: 20px;
  font-weight: 300;
}
.activity_block{
  
  display: flex;
  padding: 2em 0 3.5em 0;
  gap:0 40px;
}
.activities{
  position: relative;
  background-color: rgba(0, 0, 0, 0.589);
  display: grid;
  grid-template-columns: repeat(2,350px);
  grid-auto-rows: 258px;
  border-radius: 20px;
  padding: 25px 25px 35px 25px;

  gap: 20px;
}

.activity{
  width: 350px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  
}
.activity::after{
  content: '';
  background-image: linear-gradient(0deg, #181818, rgba(17, 17, 17, 0));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.7s ease-in-out;
}
.activity img:first-child{
  object-fit: cover;
  object-position: center;
  transform: scale(1.1);
  height: 258px;
  transition: 0.7s ease-in-out;
}
.activity_section{

  flex-direction: column;
  display: flex;
  gap: 30px;
  width: 1040px;
}

.activity_img-block{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.589);
  padding: 20px;
  border-radius: 20px;
}
.activity_img-block img:first-child{
    object-position: top;
  border-radius: 10px 10px 10px 10px;
}
.activity_img-block img:last-child{
  border-radius: 10px 10px 10px 10px;
}
.activity_img-block img{
  width: 490px;
  height: 290px;
  object-fit: cover;
}
.activity_text{
  text-align: justify;
}
.activity_price{
  font-size: 20px;
  font-weight: 400;
  color: var(--white80);
}
.activity_price span{
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}
.activity_wrapper{
  display: flex;
  justify-content: center;
}
.activity_mainInfo{
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.589);
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25%;
}
.activity_mainInfo p{
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: gainsboro;
}
.activity_mainInfo p span{
  font-weight: 300;
}
.activity_title{
  font-size: 56px;
}
.activity_icon{
  z-index: 2;
  position: absolute;
  right: 10px;
  width: 35px;
  height: 35px;
  top: 10px;
  
}
.options{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
}
.options li{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}


.options li input {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.5em;
  height: 1.5em;
  border: 2px solid white;
  border-radius: 5px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  position: relative;
}

.options li input::before {
  content: "";

  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

.options li input:checked::before{
  transform: scale(1);
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  filter:drop-shadow(0px 0px 7px white) ;
  background-color: #ffffff;

}
.data_contacts a{
  filter: drop-shadow(3px 3px 15px white);
}

.addingPost_form{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.589);
  padding: 20px;
  border-radius: 15px;
  align-items: center;
  gap: 7px;
}
.addingPost_form label{
  font-size: 17px;

}
.addingPost_form textarea{
  background-color: var(--white10);
  border: none;
  padding: 5px;
  border-radius: 10px;
  color: white;
  outline: none;

}
.addingPost_form input{
  background-color: var(--white10);
  border: none;
  padding: 5px;
  border-radius: 10px;
  color: white;
  outline: none;
}

.form_btn{
  background-color: white !important;
  color: black !important;
  padding: 10px 15px !important; 
  font-size: 17px;
  border: none;
  outline: navajowhite;
  border-radius: 10px;
}
.alert{
  position: absolute;
  display: none;
  left: 50%;
  top: 7%;
  opacity: 0;
  transform: translateX(-50%);
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 15px;
  background-color: rgb(180, 45, 45);
  transition: 0.7s ease-in-out;
  
}

.impression{
  padding: 20px;
  color: #000 !important;
  display: flex !important;
  flex-direction: column;
  gap: 20px;

  position: relative;
  border-radius: 15px;

}
.slick-slide {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}
.impression hr{
  height: 1px;
  background-color: #000;
  border: 1px solid black;
  
}
.question_mark{
  font-size: 130px;
  position: relative;
  line-height: 30px;
  top: 50px;
  left: -4px;
}
.impression_down{
  display: flex;
  flex-direction: column;
}
.impression_persone{
  font-size: 20px;
  font-weight: 600;
}
.impression_title{
  text-align: right;
  font-size: 17px;
  font-weight: 300;
}
.mountain-swiper, .activity-swiper{
  max-width: 1240px;
  margin-top: 20px;
}
.slick-dots{
  display: flex !important;
  gap: 10px;
  justify-content: center;
}
.slick-active button  {
  color:  #80B1EA !important;
  background-color: #80B1EA !important;
}
.slick-arrow{
  display: none !important;
}
.slick-dots li button{

  border-radius: 50%;
  width: 15px;
  height: 15px;

}
.comment_btn{
  position: absolute;
  top: 16.5%;
  font-size: 30px;
  left:3%;
  cursor: pointer;
  filter: drop-shadow(0px 0px 13px white);
  font-weight: 300;

}
.crt-impr_btn{

  width: 500px;
  min-height: 400px;
  background-color: #80B1EA;
  position: fixed;
  top: -1300px;
  left: 50%;
  transform: translate(-50%,100%);
  z-index: 5;
  transition: 1s ease;
  color: rgb(255, 255, 255);
  font-size: 50px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 15px black;
}
.crt-impr_btn.down{
  top: 50%;
  transform: translate(-50%, -50%);

}
.impression_form{
  display: flex;
  flex-direction: column;
  align-items: center;


}
.impression_form h2{
  font-size: 36px;
  line-height: 30px;
}
.impression_form label{
  margin: 10px 0 5px 0;
  font-size: 20px;
}
.impression_form input , .impression_form textarea{
  font-family: "Poppins", sans-serif;
  background-color:white;
  border-radius: 15px;
  border: none;
  padding: 5px 10px;
  outline: none;
  color: black;
}
.impression_form textarea{
  margin-bottom: 10px;
}
.impression_form input::placeholder , .impression_form textarea::placeholder{
  color: rgb(2, 2, 2);
}
.impression_form textarea::placeholder{
  text-align: center;
}
.btn-delete{
  cursor:pointer;
}
@media (min-width:3215px) {
  .swiper-slide:nth-last-child(1) {
    display: none;
  }
}
@media(max-width:1300px){
  .mountain-swiper, .activity-swiper{
    max-width: 850px;
  }
  .comment_btn{
    left: 18%;
  }
}
@media(max-width:1230px){
  .activitys_page{
    flex-direction: column;
    align-items: center;
  }

}

@media(max-width:1211px){
  .article{
    max-width: 1020px;
    padding: 40px 0;
  }
  .img_block{
    width:350px ;
    height:350px ;
  }
  .data_description{
    font-size: 14px;
  }

  .data_mintitle{
    font-size: 0.8rem;
  }
  .data_title{
    font-size: 4rem;
  }
}

@media(max-width:1201px){
  .activity_block{
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .activity_title{
    text-align: center;
  }
}

@media (max-width:1257px) {
  #products{
    grid-template-columns: repeat(3, 280px);
    grid-auto-rows: 340px;
  }

}
@media(max-width:1100px){
  .activity_img-block{
    flex-direction: column;
  }
  .activity_section{
    max-width: 490px;
    text-align: center;
  }
}
@media(max-width:1079px){
  .article{
    flex-direction: column;
    max-width:500px;
    padding: 40px;
    margin-top: 0;
    align-items: center;
  }
  .data_title, .data_mintitle{
    text-align: center;

  }

}
@media (max-width: 990px){
  .header__list li:has(a) {
    display: none;
}

.cloud{
    display: block;
  }
  .title{
    font-size: 3rem;
  }
  .description{
    font-size: 1rem;
  }
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-content{
    text-align: center;
    margin-top: 100px;
  }
  .block-registration{
    justify-content: center;
  }
}
@media (max-width:957px){
  #products{
    grid-template-columns: repeat(2, 280px);
    grid-auto-rows: 340px;
  }
  #search-container input{
    width: 60%;
  }
  .discR_pagination{
    left: 10%;
  }
  .mountain-swiper, .activity-swiper{
    max-width: 420px;
  }
  .comment_btn{
    left: 47%;
    top: 6%;
    transform: translateX(-47%);
  }

}
@media (max-width:890px){
  .admin-posts{
    grid-template-columns: repeat(3,150px);
  }
}

@media (max-width:848px){
  .activities{
    grid-template-columns:repeat(2, 300px);
    grid-auto-rows: 208px;
  }
  .activity{
    width: 300px;
  }

}

@media (max-width: 840px){
  .swiper-scrollbar{
    bottom: var(--swiper-pagination-bottom, 0px) !important;
    left: 0% !important;
    width: 50% !important;
  }
  .temporary_class, .registration_container{
    width: 568px;

    min-height: 380px;
  }
  .sign-up form h1{
    line-height: 30px;
  }
  .form-container form h1{
    font-size: 1.4rem;
  }
}
@media (max-width:749px){
  .activities{
    grid-template-columns: 350px;
    grid-auto-rows: 258px;
  }
  .activity{
    width: 350px;
  }
  .right_pagination{
    left: 15%;
  }


}
@media (max-width:658px){
  #products{
    grid-template-columns: repeat(1, 280px);
    grid-auto-rows: 340px;
  }
  .pagination{
    font-size: 1rem;

  }
  .discR_pagination{
    left: 35%;
  }
  .discL_pagination{
    left: 27%;
  }

}

@media (max-width: 652px){
  .swiper{
    width: 575px !important;
  }
  .swiper-slide:nth-last-child(1){
    display: none;
  }
  .swiper-button-next{
    right: 50px;
  }
  
}
@media (max-width: 622px){
  .swiper{
    width: 280px !important;
  }
  .swiper-button-next, .swiper-button-prev{
    display: none !important;
  }
  .swiper-scrollbar{

    width: 100% !important;
  }
  .form-container form h1{
    font-size: 1.3rem;
  }
  .form-container form span{
    font-size: 10px;
  }
  .alert{
    top: 10%;
  }
 
}
@media(max-width:585px){
  .alert{
    width: 284px !important;
  }
  .crt-impr_btn{
    width: 300px;
  }
  .impression_form h2{
    font-size: 24px;
  }
  .impression_form textarea{
    width: 260px;
    height: 160px;
  }
}
@media(max-width:577px){
  .article{
    width: 350px;
    padding: 20px;
  }
  .img_block{
    display: none;
  }
  .data_description{
    font-size: 14px;
    width: 300px;
  }

  .data_mintitle{
    font-size: 0.8rem;
  }
  .data_title{
    font-size: 3rem;
    margin-bottom: 10px;
  }
  .main-content{
    gap: 10px !important;
  }
  .activity_img-block img{
    max-width: 350px;
    max-height: 200px;
  }
  .activity_section{
    max-width: 390px;

  }
}
@media (max-width:550px){
  .admin-posts{
    grid-template-columns: repeat(2,100px);
    grid-auto-rows: 100px;

  }
  .admin-posts li{
    padding: 10px;
  }
  .product-name{
    font-size: 13px;
  }
  .admin-post-controls .btn {
    padding: 0px;
    line-height: 1;
}
}
@media (max-width: 530px){
  .header__nav .block-registration{
    display: none;
  }
  .button{
    display: block;
  }
  .title{
    font-size: 2.25rem;
  }
  .swiper-scrollbar{
    display: none;
  }
  .swiper{
    margin-bottom: 50px;

  }
  .signup{
    padding: .375rem 0.685rem;
  }
  .toggle-container{
    display: none;
  }
  .registration_container form{
    padding: 0;
  }
  .sign-up, .sign-in{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
  }
  .arrow_signup, .arrow_signin{
    display: block;
  }
  


  .registration_container.active .sign-in{
    transform: translate(-200%,-50%);
    border: none;
    outline: none;
  }
  
  
  .registration_container.active .sign-up{
    transform: translate(-50%, -50%);
    animation: none;
    border: none;
    outline: none;
  }
  .comment_btn{
    top: auto;
    bottom: -75px;
    z-index: 5;
    left: 20px;
  }
}
@media(max-width:495px){
  .addingPost_form{
    width: 330px;
  }
  .addingPost_form textarea {
    width: 290px;
  }
}
@media(max-width:478px){
  .activities{
    grid-template-columns: 300px;
    grid-auto-rows: 208px;
  }
  .activity{
    width: 300px;
  }
  .discR_pagination{
    left: 34%;
  }
  .discL_pagination{
    left: 24%;
  }
  .alert{
    font-size: 15px;
    width: 230px !important;
  }
  .mountain-swiper, .activity-swiper{
    max-width: 320px;
  }
  .journal_title{
    font-size: 22px;
  }
  .comment_btn{
    top: auto;
    bottom: -15px;
    z-index: 5;
    left: 20px;
  }
  .activity_section{
    max-width: 320px;
  }
  .activity_img-block{
    padding: 10px;
    gap: 10px;

  }
  .activity_text{
    font-size: 14px;
  }
  .activity_img-block img{
    max-width: 300px;
    max-height: 180px;
  }
}
@media(max-width:427px){
  .button-value{
    padding: 0.7em 1.3em;
  }
  #search-container input{
    padding: 0.7em;
  }
  #search-container button{
    padding: 0.7em 1.5em;
  }
  .activities{
    padding: 15px 15px 25px 15px;
  }

}
@media (max-width: 411px){
  .article{
    width: 280px;
    padding: 15px;
  }
  .data_description{
    width: 250px;
    font-size: 13px;
  }
  .data_title{
    font-size: 2rem;
    line-height: 30px;
  }


}
@media (max-width: 400px){

 .title{
  font-size: 1.5rem;
 }
 .description{
  font-size: 0.8rem;
 }
 .img_cloud{
  height: 170px;
 }
 .rope_cloud{
  width: 300px;
 }
 .img_cloud .header__list{
  padding-bottom: 25px;
 }
 .img_cloud .header__list li{
  font-size: .9rem;
 }
 .discR_pagination{
  left: 25%;
}
.discL_pagination{
  left: 10%;
}
}
@media(max-width:387px){
  .filter_activity{
    padding: 15px;
    width: 250px;
  }
  #activity_search_container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #activity_search_btn{
    margin: 0;
  }
}
@media(any-hover:hover){
.login:hover{
  color: white;
}
.signup:hover{
  background-color:rgba(244, 244, 244, 0.2);
}
.swiper-button-next:hover , .swiper-button-prev:hover{
  background-color: hsla(0, 0%, 95.7%, 0.4);
}
.cloud:hover {
  filter:drop-shadow(rgba(255, 255, 255, 0.329) 0 0 10px);
}
.fa-shake:hover {
  animation: none;
  transform: translateX(0); 
}
.swiper-slide:hover .places-card_desc-wrap {
  height: 55px;
  opacity: 1;
}
.swiper-slide:hover .places-card_desc-text {
  opacity: 0.6;
}
#searchClose:hover{
  color: var(--light-gray);
}
.img_block:hover .data_img {
  transform: scale(1);
}
.img_block:hover::before {
  background-color: transparent;
}
.article__ul li a:hover .hand{
  margin-right: 20px;
}
#search-container input:hover{
  border-color: #dbc7ba;
}
#search-container button:hover{
  background-color: #43444e;

}
.activity:hover::after {
  opacity: 0;
}
.activity:hover img:first-child{
  transform: scale(1);
}
}